__pycache__
.venv
device_id
geckodriver.log
Lib/
main.dist
main.exe
main.onefile-build
out.log
pixlet
pyvenv.cfg
Scripts/
src/main.build/
src/main.dist/
src/main.exe
src/main.onefile-build/
start.bat
status
status
templates/rendered*
test.py
Tidbyt-Desktop-Companion.exe
tmp.star
tmp.webp
weapons