__pycache__
.venv
device_id
geckodriver.log
Lib/
out.log
pixlet
pyvenv.cfg
Scripts/
src/main.build/
src/main.dist/
src/main.exe
src/main.onefile-build/
start.bat
status
status
templates/rendered*
test.py
tmp.star
tmp.webp
weapons