__pycache__
.venv
device_id
geckodriver.log
Lib/
out.log
pixlet
pyvenv.cfg
Scripts/
start.bat
status
status
templates/rendered*
test.py
tidbyt-desktop-companion.dist
tidbyt-desktop-companion.exe
tidbyt-desktop-companion.onefile-build
tmp.star
tmp.webp
weapons
.envrc
